In [1]:
# Q1. Create a function that takes a list of strings and integers, and filters out the list  
#     so that it returns a list of integers only.
#     Examples :
#       filter_list([1, 2, 3, 'a', 'b', 4]) ➞ [1, 2, 3, 4]
#       filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729']) ➞ [0, 1729]
#       filter_list(['Nothing', 'here']) ➞ []

# Sol :

def filter_list(list1):
    try:
        k = []
        if type(list1) == list:
            for i in list1:
                if type(i) == int:
                    k.append(i)
        return k
    except Exception as e:
        print('The error has occured')
        print('The error is  : ', e)

In [2]:
 filter_list([1, 2, 3, 'a', 'b', 4])

[1, 2, 3, 4]

In [3]:
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])

[0, 1729]

In [4]:
filter_list(['Nothing', 'here'])

[]

In [5]:
# Q2. Given a list of numbers, create a function which returns the list but with each element's
#     index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
#     number at index 1, etc...
#     Examples : 
#         add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
#         add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
#         add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

# Sol : 

def add_indexes(ls):
    try:
        k = []
        for i in range(len(ls)):
            r = ls[i] + i
            k.append(r)
        return k
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [6]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [7]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [8]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [9]:
# Q3. Create a function that takes the height and radius of a cone as arguments and returns the
#     volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
#     Examples : 
#          cone_volume(3, 2) ➞ 12.57
#          cone_volume(15, 6) ➞ 565.49
#          cone_volume(18, 0) ➞ 0

# Sol :
import math
def cone_volume(height, radius):
    try:
        volume = math.pi * (radius ** 2) * (height /3)
        return round(volume, 2)
    except Exception as e:
        print('Th error has occured')
        print('The error is : ', e)

In [10]:
cone_volume(3, 2)

12.57

In [11]:
cone_volume(15, 6)

565.49

In [12]:
cone_volume(18, 0)

0.0

In [13]:
# Q4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
#     The first 5 numbers of the sequence, or dots, are: 1, 3, 6, 10, 15
#     This means that the first triangle has just one dot, the second one has three dots, 
#     the third one has 6 dots and so on.
#     Write a function that gives the number of dots with its corresponding triangle number of the
#     sequence.
#     Examples :
#         triangle(1) ➞ 1
#         triangle(6) ➞ 21
#         triangle(215) ➞ 23220

# Sol :

def triangle(n):
    try:
        m = n
        k = 0
        if n == 1:
            return 1
        else:
            for i in range(n):
                m += k
                k += 1
            return m
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [14]:
triangle(1)

1

In [15]:
triangle(6)

21

In [16]:
triangle(215)

23220

In [17]:
# Q5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
#     returns the missing number.
#     Examples : 
#         missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
#         missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
#         missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

# Sol :

def missing_num(lis):
    try:
        for i in range(1, 11):
            if i not in lis:
                return i
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [18]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [19]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [20]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7