In [1]:
# 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, 
#    and return the list.
#     Examples:
#       remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]
#       remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]
#       remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

# Sol :

def remove_letters(lst, string):
    try:
        for i in string:
            if i in lst:
                lst.pop(lst.index(i))
        return lst
    except Exception as e:
        return e

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [3]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [4]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

In [5]:
# 2. A block sequence in three dimensions. We can write a formula for this one:
#    Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.
#    Examples:
#       blocks(1) ➞ 5
#       blocks(5) ➞ 39
#       blocks(2) ➞ 12

# Sol :

def blocks(num):
    try:
        depth = num * 3 + (num-1)
        height = [i for i in range(2, num+2)]
        return depth+sum(height)
    except Exception as e:
        return e

In [6]:
blocks(1)

5

In [7]:
blocks(5)

39

In [8]:
blocks(2)

12

In [9]:
# 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as 
#    -, %, /, +, etc.
#    Examples:
#       my_sub(5, 9) ➞ 4
#       my_sub(10, 30) ➞ 20
#       my_sub(0, 0) ➞ 0

# Sol :

import numpy as np
def my_sub(n1, n2):
    try:
        output = np.subtract(n1, n2) if n1 >= n2 else np.subtract(n2, n1)
        return output
    except Exception as e:
        return e

In [10]:
my_sub(5, 9)

4

In [11]:
my_sub(10, 30)

20

In [12]:
my_sub(0, 0)

0

In [13]:
#  4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the
#  sum of dollar bills only, as an integer.
#  For the input string:

#  Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
#  Thousands are represented by the suffix k. i.e. $4k = $4,000 and £40k = £40,000
#  Examples:
#  add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70
#  add_bill("p30,d20,p60,d150,p360") ➞ 20 + 150 = 170
#  add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

# Sol :

def add_bill(string):
    try:
        output = 0
        string = string.split(",")
        for i in string:
            if i[0]=='d':
                money = i.split('d')[1]
                if 'k' in money:
                    output += int(money.split('k')[0])*1000
                else:
                    output += int(money)
        return output
    except Exception as e:
        return e

In [14]:
add_bill("d20,p40,p60,d50")

70

In [15]:
add_bill("p30,d20,p60,d150,p360")

170

In [16]:
add_bill("p30,d2k,p60,d200,p360")

2200

In [17]:
# 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.
#    In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

#    Examples:
#    flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]] # Take a horizontal list and flip it vertical.
#    flip_list([[5], [6], [9]]) ➞ [5, 6, 9] # Take a vertical list and flip it horizontal.
#    flip_list([]) ➞ []

# Sol :

In [18]:
import numpy as np
def flip_list(lst):
    try:
        if len(lst) > 0:
            if len(np.shape(lst)) > 1:
                return np.hstack(lst).tolist()
            else:
                return np.vstack(lst).tolist()
        else:
            return lst
    except Exception as e:
        return e

In [19]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [20]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [21]:
flip_list([])

[]