In [7]:
# Q1. Create a function that takes a number as an argument and returns True or False depending on whether the number 
#     is symmetrical or not. A number is symmetrical when it is the same as its reverse.
#     Examples : 
#         is_symmetrical(7227) ➞ True
#         is_symmetrical(12567) ➞ False
#         is_symmetrical(44444444) ➞ True
#         is_symmetrical(9939) ➞ False
#         is_symmetrical(1112111) ➞ True

# Sol :

def is_symmetrical(num):
    try:
        str2 = ''
        str1 = str(num)
        k = list(str1)
        j = k[::-1]
        for i in j:
            str2 += i
        if str1 == str2:
            return True
        else:
            return False
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [8]:
is_symmetrical(7227)

True

In [9]:
is_symmetrical(12567)

False

In [10]:
is_symmetrical(44444444)

True

In [11]:
is_symmetrical(9939)

False

In [12]:
is_symmetrical(1112111)

True

In [20]:
# Q2. Given a string of numbers separated by a comma and space, return the product of the numbers.
#     Examples : 
#         multiply_nums("2, 3") ➞ 6
#         multiply_nums("1, 2, 3, 4") ➞ 24
#         multiply_nums("54, 75, 453, 0") ➞ 0
#         multiply_nums("10, -2") ➞ -20

# Sol :

def multiply_nums(str1):
    try:
        result = 1
        k =  str1.split(',')
        for i in k:
            result *= int(i)
        return result
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [21]:
multiply_nums("2, 3")

6

In [22]:
multiply_nums("1, 2, 3, 4")

24

In [23]:
multiply_nums("54, 75, 453, 0")

0

In [24]:
multiply_nums("10, -2")

-20

In [4]:
# Q3. Create a function that squares every digit of a number.
#     Examples : 
#          square_digits(9119) ➞ 811181
#          square_digits(2483) ➞ 416649
#          square_digits(3212) ➞ 9414
#     Notes :
#          The function receives an integer and must return an integer.

# Sol :

def square_digits(num):
    try:
        str1 = ''
        k  = str(num)
        for i in k :
            h = int(i)
            str1 += str(h ** 2)
        return int(str1)
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [5]:
square_digits(9119)

811181

In [7]:
square_digits(2483)

416649

In [8]:
square_digits(3212)

9414

In [9]:
# Q4. Create a function that sorts a list and removes all duplicate items from it.
#     Examples : 
#        setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
#        setify([4, 4, 4, 4]) ➞ [4]
#        setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
#        setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]


# Sol :


def setify(lst):
    try:
        return list(set(lst))
    except Exception as e:
        print('The error has occured')
        print('The errro is : ', e)

In [10]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [11]:
setify([4, 4, 4, 4])

[4]

In [12]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [13]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [24]:
# Q5. Create a function that returns the mean of all digits.
#     Examples : 
#        mean(42) ➞ 3
#        mean(12345) ➞ 3
#        mean(666) ➞ 6
#        Notes :
#           The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
#               512 is (5+1+2)/3(number of digits) = 8/3=2).
#           The mean will always be an integer.

# Sol :


def mean(num):
    try:
        k= []
        n = str(num)
        for i in n:
            k.append(int(i))
        return int(sum(k)/len(k))
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [25]:
mean(42)

3

In [26]:
mean(12345)

3

In [27]:
mean(666)

6