In [1]:
# 1. Write a Python program to convert kilometers to miles?

# Sol:

def converter(kilometers) : 
    """It converts the kilometers to miles"""
    Miles = 0.621371 * kilometers
    return f'The {kilometers} kilometers is {Miles}'

In [2]:
converter(78)

'The 78 kilometers is 48.466938'

In [3]:
# 2. Write a Python program to convert Celsius to Fahrenheit?

# Sol : 

def Fahrenheit_convert(Celsius):
    "It converts the celsius to fahrenheit"
    Fahrenheit = (Celsius * 1.8) + 32
    return f"The {Celsius} degrees celsius is {Fahrenheit} farenheit"

In [4]:
Fahrenheit_convert(32)

'The 32 degrees celsius is 89.6 farenheit'

In [5]:
# 3. Write a Python program to display calendar?

# Sol : 

#     To display the calender of different here i'm using the calendar module

#    Importing the module

def calendar_display(year):
    import calendar
    print(calendar.calendar(year)) # In this module there is a another function calender just give the required year as argument

In [6]:
calendar_display(2552)

                                  2552

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6             1  2  3  4  5
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       6  7  8  9 10 11 12
10 11 12 13 14 15 16      14 15 16 17 18 19 20      13 14 15 16 17 18 19
17 18 19 20 21 22 23      21 22 23 24 25 26 27      20 21 22 23 24 25 26
24 25 26 27 28 29 30      28 29                     27 28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [7]:
calendar_display(2030)

                                  2030

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [8]:
# 4. Write a Python program to solve quadratic equation?

# Sol:

#     We know the quadratic equation which is in the form ax**2+bx+c

def quadratic():
    
    import cmath
    
    a = int(input("Enter the value of a : "))
    b = int(input("Enter the value of b : "))
    c = int(input("Enter the value of c : "))
    
    # Here i'm finding the b**2-4ac value for further caluclation

    d = (b ** 2) - 4 * a * c
    

    sol1 = (-b-cmath.sqrt(d))/(2*a)
    sol2 = (-b+cmath.sqrt(d))/(2*a)
    
    equation = "{}x**2+{}x+{}".format(a, b, c)
    
    return f'The solution of the quadratic equation {equation} is {sol1, sol2}'

In [9]:
quadratic()

Enter the value of a : 1
Enter the value of b : -6
Enter the value of c : 9

'The solution of the quadratic equation 1x**2+-6x+9 is ((3+0j), (3+0j))'

In [10]:
# 5. Write a Python program to swap two variables without temp variable?


a = int(input("Enter your first number : "))
b = int(input("Enter your second number : "))

def swap(a, b): 
    try:
        print("Before swapping the two numbers : \
        \n\ta : {}\
        \n\tb : {}".format(a, b))
        a, b = b, a
        print("After swapping the two numbers : \
        \n\ta : {}\
        \n\tb : {}".format(a, b))
    except Exception as e:
        print(f"The occured error is {e}")
    
swap(a, b)

Enter your first number : 2005
Enter your second number : 5002
Before swapping the two numbers :
	a : 2005
	b : 5002
After swapping the two numbers :
	a : 5002
	b : 2005