In [1]:
# Q1. Create a function that takes a string and returns a string in which each character is repeated once.
#     Examples : 
#     double_char('String') ➞ 'SSttrriinngg'
#     double_char('Hello World!') ➞ 'HHeelllloo WWoorrlldd!!'
#     double_char('1234!_ ') ➞ '11223344!!__ '

# Sol :

def double_char(string):
    try:
        k = ''
        for i in string:
            k += i * 2
        return k
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [2]:
double_char('String')

'SSttrriinngg'

In [3]:
double_char('Hello World!')

'HHeelllloo  WWoorrlldd!!'

In [4]:
double_char('1234!_ ')

'11223344!!__  '

In [5]:
# Q2. Create a function that reverses a boolean value and returns the string boolean expected
# if another variable type is given.
#     Examples : 
#         reverse(True) ➞ False
#         reverse(False) ➞ True
#         reverse(0) ➞ 'boolean expected'
#         reverse(None) ➞ 'boolean expected'

# Sol : 

def reverse(value):
    try: 
        if type(value) == bool:
            if value ==  True:
                return False
            else:
                return True
        else:
            return 'boolean excepted'
    except Exception as e:
        print('The erorr has occured')
        print('The error is : ', e)

In [6]:
reverse(True)

False

In [7]:
reverse(False)

True

In [8]:
reverse(0)

'boolean excepted'

In [9]:
reverse(None)

'boolean excepted'

In [10]:
# Q3. Create a function that returns the thickness (in meters) of a piece of paper after folding it n
#     number of times. The paper starts off with a thickness of 0.5mm.
#     Examples
#     num_layers(1) ➞ '0.001m'
#     Paper folded once is 1mm (equal to 0.001m)
#     num_layers(4) ➞ '0.008m'
#     Paper folded 4 times is 8mm (equal to 0.008m)
#     num_layers(21) ➞ '1048.576m'
#     Paper folded 21 times is 1048576mm (equal to 1048.576m)

# Sol : 

def num_layers(a):
    try:
        thickness = 0.5
        for i in range(a):
            thickness *= 2
        k = thickness / 1000
        return k
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [11]:
num_layers(1)

0.001

In [12]:
num_layers(4)

0.008

In [13]:
num_layers(21)

1048.576

In [14]:
# Q4. Create a function that takes a single string as argument and returns an ordered list containing
#     the indices of all capital letters in the string.
#     Examples:
#          index_of_caps('eDaBiT') ➞ [1, 3, 5]
#          index_of_caps('eQuINoX') ➞ [1, 3, 4, 6]
#          index_of_caps('determine') ➞ []
#          index_of_caps('STRIKE') ➞ [0, 1, 2, 3, 4, 5]
#          index_of_caps('sUn') ➞ [1]

def index_of_caps(string):
    try:
        count = []
        k = 0
        for i in string:
            if i.isupper() ==  True:
                count.append(k)
            k += 1
        return count

    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [15]:
index_of_caps('eDaBiT')

[1, 3, 5]

In [16]:
index_of_caps('eQuINoX')

[1, 3, 4, 6]

In [17]:
index_of_caps('determine')

[]

In [18]:
index_of_caps('STRIKE')

[0, 1, 2, 3, 4, 5]

In [19]:
index_of_caps('sUn')

[1]

In [20]:
# Q5. Using list comprehensions, create a function that finds all even numbers from 1 to the given
#     number.
#         Examples:
#             find_even_nums(8) ➞ [2, 4, 6, 8]
#             find_even_nums(4) ➞ [2, 4]
#             find_even_nums(2) ➞ [2]

# Sol: 

def find_even_numbers(n):
    try:
        ls = []
        for i in range(1, n + 1):
            if i % 2 ==0 :
                ls.append(i)
        return ls
    except Exception as e:
        print('The error has occured')
        print('The error is : ', e)

In [21]:
find_even_numbers(8)

[2, 4, 6, 8]

In [22]:
find_even_numbers(4)

[2, 4]

In [23]:
find_even_numbers(2)

[2]