In [1]:
# 1.Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division 
#   on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").
#   Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only 
#   two numbers between 1 valid operator. The return value should be a number.
#   eval() is not allowed. In case of division, whenever the second number equals "0" return -1.
#   For example: "15 // 0" ➞ -1
#   Examples:
#   arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24
#   arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0
#   arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144
#   arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

# Sol:

import operator
 
ops = {'+' : operator.add, '-':operator.sub, '*' : operator.mul, '//' : operator.floordiv}

def arithmetic_operation(string:str):
    try:
        string = string.split(' ')
        return ops[string[1]](int(string[0]), int(string[2])) if int(string[2]) != 0 else -1
    except Exception as e:
        return e

In [2]:
arithmetic_operation("12 + 12")

24

In [3]:
arithmetic_operation("12 - 12")

0

In [4]:
arithmetic_operation("12 * 12")

144

In [5]:
arithmetic_operation("12 // 0")

-1

In [6]:
# 2.Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the 
#   triangle. The given points are the vertices of a triangle on a two-dimensional plane.
#   Examples:
#      perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
#      perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
#      perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

# Sol :

import numpy as np

def distance(a, b):
    return np.sqrt(pow((b[1] - a[1]), 2) + pow((b[0] - a[0]), 2))

def perimeter(lst:list):
    try:
        distances = []
        if len(lst) == 3:
            for i in range(len(lst)):
                if i == len(lst) - 1:
                    distances.append(distance(lst[i], lst[0]))
                else:
                    distances.append(distance(lst[i], lst[i+1]))
        return round(sum(distances), 2)
    except Exception as e:
        return e

In [7]:
 perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.08

In [8]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [9]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

In [10]:
# 3.A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the 
#   tallest building is 4 (second-most right column).
#   [[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 1, 0, 1, 0], [0, 1, 1, 1, 1, 0], [1, 1, 1, 1, 1, 1]]
#   Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.
#   Examples:
#   tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 3
#   tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 4
#   tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]]) ➞ 2

# Sol :

def tallest_skyscraper(lst):
    try:
        result = 0
        for i in range(len(lst)):
            result += lst[i][1]
        return result
    except Exception as e:
        return e

In [11]:
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

3

In [12]:
tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

4

In [13]:
tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]])

2

In [14]:
# 4.A financial institution provides professional services to banks and claims charges from the customers based on the number 
#   of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable 
#   utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.
#   This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each 
#   billable day in excess of such threshold target is shown as follows:

#   Days Bonus 0 to 32 days Zero 33 to 40 days SGD$325 per billable day 41 to 48 days SGD$550 per billable day Greater than 48
#   days SGD$600 per billable day

#   Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days 
#   of 45 in a quarter, his/her incentive payment is computed as follows:
#   32*0 + 8*325 + 5*550 = 5350
#   Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

#   Examples:
#   bonus(15) ➞ 0
#   bonus(37) ➞ 1625
#   bonus(50) ➞ 8200

# Sol :

def bonus(num):
    try:
        if num >= 48:
            days = num - 48
            if days >= 0:
                result = 32 * 0 + 8 * 325 + 5 * 550 + days * 600
        elif num > 40 :
            days = num - 40
            if days >= 0:
                result = 32 * 0 + 8 * 325 + days * 550
        elif num > 32:
            days = num - 32
            if days >= 0:
                result = 32 * 0 + days * 325
        else:
            result = 32*0
        return result
    except Exception as e:
        return e

In [15]:
bonus(15)

0

In [16]:
bonus(37)

1625

In [17]:
bonus(50)

6550

In [18]:
# 5.A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.
#  Create a function that determines whether a number is a Disarium or not.
#  Examples:
#   is_disarium(75) ➞ False
#   7^1 + 5^2 = 7 + 25 = 32
#   is_disarium(135) ➞ True
#   1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
#   is_disarium(544) ➞ False
#   is_disarium(518) ➞ True
#   is_disarium(466) ➞ False
#   is_disarium(8) ➞ True

# Sol :

def is_disarium(num):
    try:
        j = 1
        result = 0
        for i in range(len(str(num))):
            result += int(str(num)[i]) ** j
            j += 1
        if result == num:
            return True
        else:
            return False
    except Exception as e:
        return e

In [19]:
is_disarium(75)

False

In [20]:
is_disarium(135)

True

In [21]:
is_disarium(544)

False

In [22]:
is_disarium(518)

True

In [23]:
is_disarium(466)

False

In [24]:
is_disarium(8)

True